$black-text: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$black-color: #000000;
$green-text: #00FF00;

$container-width: 90%;

$duration: 0.15s;

$length-width: 8px;
$length-higth: 8px;